fastapi>=0.110.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
pdfplumber>=0.11.0
python-docx>=1.1.0
spacy>=3.7.4
transformers>=4.40.0
shap>=0.45.0
sentence-transformers>=2.7.0
chromadb>=0.4.22
langchain>=0.1.16
langchain-core>=0.1.0
langchain-community>=0.0.33
langchain-groq>=0.1.0
groq>=0.5.0
pydantic>=2.7.0
google-cloud-vision>=3.7.2
google-cloud-translate>=3.15.3
pymongo>=4.6.0
numpy>=1.26.0
scikit-learn>=1.4.0
requests>=2.31.0
beautifulsoup4>=4.12.0
